<h4><span class="idx">{{idx}}.</span> <a href="{{url}}">{{title}}</a></h4>
<span class="meta">{{#if postedAgo}}<time>{{postedAgo}}</time>{{/if}}</span>
<span class="meta">posted by: {{postedBy}}</span>
<span class="meta">{{commentCount}} comments</span>
<span class="meta pull-right">points: <span class="badge">{{points}}</span></span>
